/* applied to overall webpage */
*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

/* most frequent used tags */
.topgap{
    margin-top: 100px;
}
.bottomgap{
    margin-bottom: 20px;
}
.bold{
    font-size: 70px;
}
.tsmall{
    font-size: 14px;
    line-height: 1.8;
}
.center{
    margin: 0 170px;
}
.textb{
    color: black;
}
.textw{
    color: white;
}
.btn{
    border: none;
    background: #F15B22;
    padding: 20px 30px;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
}


/* header portion started */
header{
    background-image: url("images/banner/banner1.png");
    height: 800px;
    text-align: right;
    background-repeat: no-repeat;
    background-position: contain;
    width: auto;
}
header{
    padding: 200px 120px 0 0 ;
}


/* flexone started */
.flexone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.flexone ul > li{
    list-style: none;
    padding-bottom: 10px;
    position: relative;
    left: -40px;
}
i{
    color: aquamarine;
    margin-right: 5px;
}
.size45{
    font-size: 45px;
}
.parttwo h1{
    text-align: center;
}


/* flextwo started */
.flextwo{
    display: flex;
    justify-content: space-around
}
.plans{
    text-align: center;
}
.plans img{
    margin-bottom: 15px;
}
.parttwo h1{
    margin-bottom: 60px;
}
.bg{
    background-image: url("images/gradient3.png"), url("images/watch.png");
    background-blend-mode: normal;
    height: 400px;
    background-repeat: no-repeat;
    background-position: contain;
}
.watch{
    margin-top: 150px;
    padding: 80px 0 0 50px;
}
.plans h2{
    margin-bottom: 10px;
}
.watch .btn{
    background-color: white;
    color:#F15B22;
}


/* box portion */
/* flexthree started */
.flexthree{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box i{
    color:#F15B22;
}
.flexthree .box{
    height: 250px;
    width: 250px;
    background-color: azure;
    padding: 20px 40px;
    text-align: justify;
}
.flexthree .box{
    box-shadow: 10px 10px 25px;
}


/* footer portion stated */
footer{
    background: black;
    height: 400px;
}
#icon{
    display: flex;
    gap: 10px;
}


/* flexfour started */
.flexfour{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexfour h1{
    padding: 80px 0 0 0;
}


/* footer portion started */
footer input, .btn{
    border-radius: 5px;
}
footer input{
    padding: 10px 25px;
}
footer .btn{
    background-color: azure;
    color: #F15B22;
}